S3method(print,search_fulltext)
S3method(print,search_layers)
S3method(print,search_names)
S3method(print,search_partial_name)
S3method(subset,occurrences)
S3method(summary,occurrences)
S3method(unique,occurrences)
export(ala_cache_filename)
export(ala_config)
export(ala_fields)
export(ala_reasons)
export(check_assertions)
export(field_info)
export(intersect_points)
export(occurrences)
export(occurrences_plot)
export(search_fulltext)
export(search_layers)
export(search_names)
export(search_partial_name)
export(sites_by_species)
export(species_info)
export(specieslist)
export(taxinfo_download)
import(RCurl)
import(assertthat)
import(digest)
import(httr)
import(jsonlite)
import(plyr)
import(sp)
import(stringr)
