S3method(print,autocomplete)
export(ala_cache_filename)
export(ala_config)
export(ala_fields)
export(ala_reasons)
export(autocomplete)
export(bulklookup)
export(field_info)
export(fulltext_search)
export(intersect_points)
export(occurrences)
export(search_layers)
export(species_by_site)
export(species_info)
export(specieslist)
import(RCurl)
import(assertthat)
import(digest)
import(httr)
import(jsonlite)
import(plyr)
import(stringr)
